.events-container{
    margin-top: 8vw;
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
}
.event-container{
    width: 20vw;
    height: 15vw;
    background-color: #2E2E49;
    margin: 2vw 4vw 2vw 0vw;
    border-radius: 15px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.253);
    padding: 0.7vw 1vw 1vw 1vw;
}
.event-header{
    font-size: 1.8vw;
    font-weight: 600;
}
.event-description{
    font-size: 0.8vw;
    color: #c6c6c6;
    margin-top: 1.2vw;
    height: 7vw;
    overflow-y: scroll;
}
.event-buttons{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 1.2vw;
}
.event-button{
    margin: 0 1vw 0 1vw;
    padding: 0.5vw 1.5vw 0.5vw 1.5vw;
    width: 8vw;
    background-color: transparent;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.fund-btn{
    border: 1px solid #3ace75;
}
.fund-btn:hover{
    background-color: #3ace75;
    color: black;
}
.attend-btn{
    border: 1px solid #FF4D58;
}
.attend-btn:hover{
    background-color: #FF4D58;
    color: black;
}
.checkin-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.checkin-btn{
    margin-top: 1vw;
    width: 10vw;
    border: 1px solid #FF4D58;
}
.checkin-btn:hover{
    background-color: #FF4D58;
    color: black;
}
.share-on-twitter{
    width: 3vw;
    height: 3vw;
    margin-top: 1vw;
    background-image: url("../images/share-img.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    margin-left: 15vw;
    cursor: pointer;
}
